<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <ThresholdFilter onMatch="ACCEPT" onMismatch="DENY" level="TRACE"/>
            <PatternLayout pattern="%d{ISO8601} [%p] %t [%c]: %m (%F:%L)%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="audit" level="info" additivity="false"/>
        <Logger name="sco.server" level="trace"/>
        <Logger name="org.apache.hadoop" level="OFF"/>
        <Logger name="com.jolbox" level="OFF"/>
        <Logger name="DataNucleus" level="OFF"/>
        <Logger name="hive" level="OFF"/>
        <Logger name="org.mortbay.log" level="OFF"/>
        <Logger name="org.springframework" level="debug"/>
        <Logger name="com.datastax" level="info"/>
        <Logger name="org.apache.cassandra" level="info"/>
        <Logger name="Sigar" level="OFF"/>
        <Root level="debug">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>
