<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="trace" />
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} [%p] %t [%c]: %m (%F:%L)%n" />
		</layout>
	</appender>

	<appender name="audit" class="org.apache.log4j.RollingFileAppender">
		<param name="Threshold" value="trace" />
		<param name="File" value="./target/log/audit.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="50MB" />
		<param name="maxBackupIndex" value="20" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>

	<logger name="audit">
		<level value="info" />
		<appender-ref ref="audit" />
	</logger>

	<logger name="com.tnf.bis">
		<level value="trace" />
	</logger>
	<logger name="org.apache.hadoop">
		<level value="off" />
	</logger>
	<logger name="com.jolbox">
		<level value="off" />
	</logger>
	<logger name="DataNucleus">
		<level value="off" />
	</logger>
	<logger name="hive">
		<level value="off" />
	</logger>
	<logger name="org.mortbay.log">
		<level value="off" />
	</logger>
	<logger name="org.springframework">
		<level value="debug" />
	</logger>
	<logger name="com.datastax">
		<level value="info" />
	</logger>
	<logger name="org.apache.cassandra">
		<level value="info" />
	</logger>
	<logger name="Sigar">
		<level value="off" />
	</logger>



	<root>
		<level value="debug" />
		<appender-ref ref="console" />
	</root>
</log4j:configuration>