webserver.port=8009
webserver.https.port=8010
webserver.keystore.file=server-keystore.jks
webserver.keystore.password=server
webserver.key.password=server
webserver.passwd.file=passwd
webserver.host=0.0.0.0
# unlimited thread pool size is zero or negative value
webserver.thread.pool.size=-1

token.minutes.to.live=480

auth.method=HmacSHA512
auth.secret=asdfasdfasdfasdfasdfasdfa
#restrict search for these columns only imsi,timeid are essential for now
#column.list.comma.separated=dt,sgm,imsi,timeid,...

search.time.filter=true
rest.user.stat=false

# copy lz4-1.3.0.jar to /opt/apps/ress-srv/lib/ directory in order to enable network compression
cassandra.net.compress=false

find.consistency.level=QUORUM


